In [123]:
import pandas as pd
PC_df = pd.read_csv('PC.csv', header=36)
AFP_df = pd.read_csv('AFP.csv', header=36)
NTP_df = pd.read_csv('NTP.csv', header=35)
UKN_df = pd.read_csv('UKN.csv', header=35)

In [124]:
PC_df

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,6666233,1,PC,NaN,0.512409,0.000003,131.726,0.000398,0.5012,1.2330,...,1260.0,56.7,NaN,NaN,3830.0,92.0,4.68,0.04,0.589,0.045
1,5773121,1,PC,NaN,0.524187,0.000004,131.598,0.000617,0.5678,1.3110,...,2040.0,338.0,NaN,NaN,5396.0,155.0,4.49,0.23,0.930,0.303
2,11246161,1,PC,NaN,0.537357,0.000108,132.068,0.025572,0.9000,1.2390,...,2340.0,446.0,NaN,NaN,6108.0,196.0,4.47,0.27,0.997,0.375
3,9967771,1,PC,NaN,0.538345,0.000003,131.658,0.000593,0.9003,0.2499,...,2240.0,454.0,NaN,NaN,5953.0,175.0,4.49,0.28,0.926,0.372
4,5340878,1,PC,NaN,0.539914,0.000007,131.554,0.001078,0.7593,0.6911,...,1730.0,145.0,NaN,NaN,5166.0,148.0,4.65,0.10,0.678,0.107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2731,8805348,1,PC,NaN,29.907300,0.000049,145.385,0.001334,0.2917,4.8070,...,564.0,55.8,NaN,NaN,5739.0,109.0,4.48,0.15,0.896,0.174
2732,3559935,1,PC,NaN,29.911300,0.000094,134.886,0.002652,0.2767,5.1490,...,626.0,123.0,NaN,NaN,5589.0,163.0,4.27,0.23,1.218,0.472
2733,9993683,1,PC,NaN,29.937100,0.000297,145.105,0.008327,0.8949,0.3550,...,519.0,128.0,NaN,NaN,5268.0,180.0,4.46,0.37,0.871,0.425
2734,8151055,1,PC,NaN,29.963400,0.000160,149.942,0.004905,0.1063,40.1600,...,392.0,24.6,NaN,NaN,4463.0,165.0,4.62,0.06,0.638,0.065
2735,8613535,1,PC,NaN,29.968600,0.000165,147.859,0.004507,0.4701,3.7110,...,647.0,159.0,NaN,NaN,6224.0,198.0,4.41,0.29,1.083,0.527

In [125]:
AFP_df

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,2439211,2,AFP,NaN,0.499972,0.000020,131.620,0.004309,0.700000,2.9070,...,4160.0,793.0,NaN,NaN,7338.0,320.0,3.90,0.22,2.462,0.915
1,2439211,1,AFP,NaN,0.499978,0.000013,131.867,0.002835,0.304200,17.2000,...,4160.0,793.0,NaN,NaN,7338.0,320.0,3.90,0.22,2.462,0.915
2,8760767,2,AFP,NaN,0.500097,0.000013,131.771,0.002673,0.894800,0.5283,...,3550.0,959.0,NaN,NaN,7089.0,270.0,4.08,0.30,1.787,0.955
3,8760767,1,AFP,NaN,0.500172,0.000014,131.955,0.002284,0.100000,63.1200,...,3550.0,959.0,NaN,NaN,7089.0,270.0,4.08,0.30,1.787,0.955
4,9305574,1,AFP,NaN,0.500425,0.002574,131.940,0.661549,0.072530,3945.0000,...,4530.0,710.0,NaN,NaN,7903.0,319.0,3.89,0.22,2.587,0.783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9037,5360974,2,AFP,NaN,29.804400,0.000429,145.620,0.013098,0.001482,8830.0000,...,505.0,103.0,NaN,NaN,5223.0,216.0,4.49,0.35,0.827,0.332
9038,6431670,1,AFP,NaN,29.911300,0.000000,153.593,0.000000,0.100000,0.0000,...,470.0,0.0,NaN,NaN,5285.0,222.0,4.63,0.13,0.705,0.160
9039,6431670,2,AFP,NaN,29.911500,0.000000,144.830,0.000000,0.100000,0.0000,...,470.0,0.0,NaN,NaN,5285.0,222.0,4.63,0.13,0.705,0.160
9040,7810483,1,AFP,NaN,29.922100,0.000069,146.007,0.001914,0.359500,5.6150,...,614.0,122.0,NaN,NaN,6122.0,188.0,4.47,0.28,0.996,0.391
9041,3098843,1,AFP,NaN,29.975800,0.000248,135.449,0.007367,0.641600,3.7890,...,591.0,127.0,NaN,NaN,5893.0,179.0,4.46,0.29,0.986,0.420

In [126]:
NTP_df

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,892667,1,NTP,NaN,2.262110,0.000027,132.171,0.006531,0.3000,10.6100,...,1960.0,486.0,NaN,NaN,6609.0,236.0,4.11,0.28,1.654,0.811
1,1292087,1,NTP,NaN,0.547626,0.000023,131.888,0.004088,0.4156,5.7700,...,2910.0,832.0,NaN,NaN,6328.0,207.0,4.15,0.29,1.502,0.852
2,1574792,1,NTP,NaN,1.391750,0.000015,131.572,0.004111,0.5077,2.1960,...,2470.0,589.0,NaN,NaN,6793.0,251.0,4.05,0.27,1.848,0.871
3,1865567,1,NTP,NaN,0.674634,0.000010,131.702,0.003591,0.9000,0.3864,...,4420.0,1520.0,NaN,NaN,9990.0,451.0,4.20,0.37,2.017,1.377
4,2019227,1,NTP,NaN,2.980320,0.000034,132.415,0.006650,0.8989,0.1823,...,1630.0,456.0,NaN,NaN,6404.0,208.0,4.20,0.30,1.428,0.793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2536,11807603,1,NTP,NaN,1.573010,0.000004,131.726,0.000659,0.2336,6.0710,...,3090.0,756.0,NaN,NaN,8814.0,392.0,4.10,0.32,2.132,1.027
2537,12353501,1,NTP,NaN,459.293000,0.024999,260.238,0.040337,0.6059,10.1600,...,181.0,215.0,NaN,NaN,4856.0,145.0,4.55,0.96,0.743,1.765
2538,12417370,1,NTP,NaN,595.156000,0.011402,334.679,0.013891,0.5463,3.1560,...,986.0,196.0,NaN,NaN,3897.0,80.0,1.15,0.28,48.700,19.300
2539,12508604,2,NTP,NaN,0.557521,0.000000,131.722,0.000000,0.1000,0.0000,...,2700.0,0.0,NaN,NaN,6544.0,261.0,4.33,0.30,1.203,0.624
2540,11717240,1,NTP,NaN,1.035500,0.000014,131.652,0.005862,0.8988,0.6967,...,2690.0,1040.0,NaN,NaN,7105.0,280.0,4.18,0.43,1.765,1.351

In [127]:
UKN_df

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,1292087,2,UNK,NaN,1.095240,1.009340e-05,132.133,0.002685,0.25630,13.31000,...,2310.0,661.0,NaN,NaN,6328.0,207.0,4.15,0.29,1.502,0.852
1,1293031,2,UNK,NaN,0.719273,1.388330e-05,132.227,0.002786,0.70000,1.10300,...,3330.0,703.0,NaN,NaN,6363.0,214.0,3.80,0.35,2.489,1.036
2,1164109,1,UNK,NaN,622.408000,8.547390e-03,162.256,0.009840,0.00319,2193.00000,...,302.0,75.0,NaN,NaN,6609.0,200.0,4.11,0.28,1.654,0.816
3,1026032,1,UNK,NaN,8.460440,3.822250e-07,133.774,0.000038,0.98290,0.03638,...,801.0,104.0,NaN,NaN,5923.0,191.0,4.64,0.18,0.704,0.178
4,1026032,2,UNK,NaN,4.230220,7.327150e-07,133.998,0.000139,0.99910,0.03854,...,1010.0,132.0,NaN,NaN,5923.0,191.0,4.64,0.18,0.704,0.178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4625,11809145,1,UNK,NaN,1.067020,1.023600e-05,132.271,0.001726,0.29980,3.42000,...,3010.0,557.0,NaN,NaN,7128.0,243.0,3.95,0.24,2.135,0.777
4626,11809179,1,UNK,NaN,0.972957,1.654570e-03,132.447,0.702873,0.87230,18.99000,...,3530.0,754.0,NaN,NaN,8273.0,350.0,4.03,0.28,2.254,0.945
4627,11809179,2,UNK,NaN,2.708050,6.689970e-05,132.061,0.018684,0.89200,0.07495,...,2510.0,536.0,NaN,NaN,8273.0,350.0,4.03,0.28,2.254,0.945
4628,11809346,1,UNK,NaN,0.624575,1.570140e-05,131.726,0.002362,0.73600,0.80470,...,2480.0,649.0,NaN,NaN,6351.0,201.0,4.35,0.30,1.132,0.589
4629,11906217,1,UNK,NaN,37.910200,1.999770e-06,162.459,0.000044,0.92180,0.10050,...,358.0,16.7,NaN,NaN,4623.0,129.0,4.69,0.06,0.560,0.042

In [128]:
PC_stars = PC_df['kepid'].unique()
len(PC_stars)

2130

In [129]:
AFP_stars = AFP_df['kepid'].unique()
len(AFP_stars)

4951

In [130]:
AFP_toRemove_df = AFP_df[AFP_df['kepid'].isin(PC_stars)]
AFP_toRemove_df.head()

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
325,5080636,2,AFP,NaN,0.530664,0.000009,131.739,0.001226,0.18520,20.980,...,1100.0,58.9,NaN,NaN,3612.0,77.0,4.77,0.04,0.488,0.048
327,5080636,3,AFP,NaN,0.530781,0.000029,131.523,0.005662,0.79800,1.948,...,1100.0,58.9,NaN,NaN,3612.0,77.0,4.77,0.04,0.488,0.048
454,8894646,2,AFP,NaN,0.541987,0.000012,131.898,0.005971,0.02645,170.100,...,2380.0,410.0,NaN,NaN,5839.0,158.0,4.34,0.23,1.082,0.368
1341,11968463,3,AFP,NaN,0.646743,0.000007,132.026,0.001226,0.10000,47.580,...,2430.0,714.0,NaN,NaN,6308.0,246.0,4.35,0.32,1.153,0.671
1387,8030339,1,AFP,NaN,0.652450,0.000003,132.053,0.000635,0.50000,1.693,...,1970.0,419.0,NaN,NaN,5638.0,191.0,4.49,0.27,0.883,0.371

In [131]:
len(AFP_toRemove_df)

58

In [132]:
Positive_df = PC_df
Negative_df = AFP_df.drop(AFP_toRemove_df.index, axis=0, inplace=False)

In [133]:
combined_df = UKN_df
print(len(NTP_df))
print(len(UKN_df))
print(len(NTP_df) + len(UKN_df))

2541
4630
7171

In [134]:
for i in range(len(NTP_df)):
    combined_df.loc[len(combined_df)] = UKN_df.loc[i]
len(combined_df)

7171

In [135]:
combined_stars = combined_df['kepid'].unique()

In [136]:
NT_toremove_df = combined_df[combined_df['kepid'].isin(PC_stars) | combined_df['kepid'].isin(AFP_stars)]
Not_Planet_df = combined_df.drop(NT_toremove_df.index, axis=0, inplace=False)

In [137]:
Positive_df

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,6666233,1,PC,NaN,0.512409,0.000003,131.726,0.000398,0.5012,1.2330,...,1260.0,56.7,NaN,NaN,3830.0,92.0,4.68,0.04,0.589,0.045
1,5773121,1,PC,NaN,0.524187,0.000004,131.598,0.000617,0.5678,1.3110,...,2040.0,338.0,NaN,NaN,5396.0,155.0,4.49,0.23,0.930,0.303
2,11246161,1,PC,NaN,0.537357,0.000108,132.068,0.025572,0.9000,1.2390,...,2340.0,446.0,NaN,NaN,6108.0,196.0,4.47,0.27,0.997,0.375
3,9967771,1,PC,NaN,0.538345,0.000003,131.658,0.000593,0.9003,0.2499,...,2240.0,454.0,NaN,NaN,5953.0,175.0,4.49,0.28,0.926,0.372
4,5340878,1,PC,NaN,0.539914,0.000007,131.554,0.001078,0.7593,0.6911,...,1730.0,145.0,NaN,NaN,5166.0,148.0,4.65,0.10,0.678,0.107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2731,8805348,1,PC,NaN,29.907300,0.000049,145.385,0.001334,0.2917,4.8070,...,564.0,55.8,NaN,NaN,5739.0,109.0,4.48,0.15,0.896,0.174
2732,3559935,1,PC,NaN,29.911300,0.000094,134.886,0.002652,0.2767,5.1490,...,626.0,123.0,NaN,NaN,5589.0,163.0,4.27,0.23,1.218,0.472
2733,9993683,1,PC,NaN,29.937100,0.000297,145.105,0.008327,0.8949,0.3550,...,519.0,128.0,NaN,NaN,5268.0,180.0,4.46,0.37,0.871,0.425
2734,8151055,1,PC,NaN,29.963400,0.000160,149.942,0.004905,0.1063,40.1600,...,392.0,24.6,NaN,NaN,4463.0,165.0,4.62,0.06,0.638,0.065
2735,8613535,1,PC,NaN,29.968600,0.000165,147.859,0.004507,0.4701,3.7110,...,647.0,159.0,NaN,NaN,6224.0,198.0,4.41,0.29,1.083,0.527

In [138]:
Negative_df

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,2439211,2,AFP,NaN,0.499972,0.000020,131.620,0.004309,0.700000,2.9070,...,4160.0,793.0,NaN,NaN,7338.0,320.0,3.90,0.22,2.462,0.915
1,2439211,1,AFP,NaN,0.499978,0.000013,131.867,0.002835,0.304200,17.2000,...,4160.0,793.0,NaN,NaN,7338.0,320.0,3.90,0.22,2.462,0.915
2,8760767,2,AFP,NaN,0.500097,0.000013,131.771,0.002673,0.894800,0.5283,...,3550.0,959.0,NaN,NaN,7089.0,270.0,4.08,0.30,1.787,0.955
3,8760767,1,AFP,NaN,0.500172,0.000014,131.955,0.002284,0.100000,63.1200,...,3550.0,959.0,NaN,NaN,7089.0,270.0,4.08,0.30,1.787,0.955
4,9305574,1,AFP,NaN,0.500425,0.002574,131.940,0.661549,0.072530,3945.0000,...,4530.0,710.0,NaN,NaN,7903.0,319.0,3.89,0.22,2.587,0.783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9037,5360974,2,AFP,NaN,29.804400,0.000429,145.620,0.013098,0.001482,8830.0000,...,505.0,103.0,NaN,NaN,5223.0,216.0,4.49,0.35,0.827,0.332
9038,6431670,1,AFP,NaN,29.911300,0.000000,153.593,0.000000,0.100000,0.0000,...,470.0,0.0,NaN,NaN,5285.0,222.0,4.63,0.13,0.705,0.160
9039,6431670,2,AFP,NaN,29.911500,0.000000,144.830,0.000000,0.100000,0.0000,...,470.0,0.0,NaN,NaN,5285.0,222.0,4.63,0.13,0.705,0.160
9040,7810483,1,AFP,NaN,29.922100,0.000069,146.007,0.001914,0.359500,5.6150,...,614.0,122.0,NaN,NaN,6122.0,188.0,4.47,0.28,0.996,0.391
9041,3098843,1,AFP,NaN,29.975800,0.000248,135.449,0.007367,0.641600,3.7890,...,591.0,127.0,NaN,NaN,5893.0,179.0,4.46,0.29,0.986,0.420

In [139]:
Not_Planet_df

,kepid,tce_plnt_num,av_training_set,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,1292087,2,UNK,NaN,1.095240,1.009340e-05,132.133,0.002685,0.25630,13.31000,...,2310.0,661.0,NaN,NaN,6328.0,207.0,4.15,0.29,1.502,0.852
1,1293031,2,UNK,NaN,0.719273,1.388330e-05,132.227,0.002786,0.70000,1.10300,...,3330.0,703.0,NaN,NaN,6363.0,214.0,3.80,0.35,2.489,1.036
2,1164109,1,UNK,NaN,622.408000,8.547390e-03,162.256,0.009840,0.00319,2193.00000,...,302.0,75.0,NaN,NaN,6609.0,200.0,4.11,0.28,1.654,0.816
3,1026032,1,UNK,NaN,8.460440,3.822250e-07,133.774,0.000038,0.98290,0.03638,...,801.0,104.0,NaN,NaN,5923.0,191.0,4.64,0.18,0.704,0.178
4,1026032,2,UNK,NaN,4.230220,7.327150e-07,133.998,0.000139,0.99910,0.03854,...,1010.0,132.0,NaN,NaN,5923.0,191.0,4.64,0.18,0.704,0.178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7165,7505674,1,UNK,NaN,1.600100,1.047600e-05,132.767,0.002258,0.70390,0.54100,...,2600.0,590.0,NaN,NaN,6505.0,238.0,3.80,0.40,2.409,1.081
7166,7505674,2,UNK,NaN,0.800136,2.033080e-05,131.735,0.006474,0.90750,0.24940,...,3270.0,744.0,NaN,NaN,6505.0,238.0,3.80,0.40,2.409,1.081
7168,7624741,2,UNK,NaN,1.402750,1.512980e-05,132.831,0.004703,0.62610,0.85690,...,2080.0,410.0,NaN,NaN,6170.0,170.0,4.12,0.28,1.379,0.540
7169,7767774,1,UNK,NaN,0.728954,9.644990e-06,131.832,0.003158,0.50000,2.10200,...,2750.0,979.0,NaN,NaN,6813.0,318.0,4.24,0.40,1.483,1.046
7170,7352995,1,UNK,NaN,0.719390,1.392820e-05,132.074,0.002069,0.68040,1.09900,...,3130.0,1250.0,NaN,NaN,5083.0,131.0,3.44,1.18,2.883,2.304

In [140]:
print(len(Positive_df['kepid'].unique()))
print(len(Negative_df['kepid'].unique()))
print(len(Not_Planet_df['kepid'].unique()))

2130
4907
3200